[submodule "Zeepkist.GTR.Backend"]
	path = Zeepkist.GTR.Backend
	url = https://github.com/donderjoekel/Zeepkist.GTR.Backend.git
[submodule "Zeepkist.GTR.Mod"]
	path = Zeepkist.GTR.Mod
	url = https://github.com/donderjoekel/Zeepkist.GTR.Mod.git
[submodule "Zeepkist.GTR.Database"]
	path = Zeepkist.GTR.Database
	url = https://github.com/donderjoekel/Zeepkist.GTR.Database.git
